<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mithril/1.1.6/mithril.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    {% block extra_style %}
    {% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-expand navbar-dark bg-dark flex-column flex-md-row bd-navbar">
      <a class="nvabar-brand" href="{% url 'members:index' %}" style="margin-right:15px;">
        <img
          src="http://4.bp.blogspot.com/-3td83xe0Fyk/UdEedypOaVI/AAAAAAAAVwM/uHIBlKFUiMw/s450/mama_kai.png"
          width="50"
          height="50"
          class="d-inline-block align-top"
          alt=""
        >
      </a>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          {% load tags %}
          {% active_link 'members' as members_active %}
          <li class="nav-item {{ members_active }}">
            <a class="nav-link" href="{% url 'members:index' %}">
              <i class="fa fa-users" aria-hidden="true"></i>
              Members
            </a>
          </li>
          {% active_link 'meeting' as meeting_active %}
          <li class="nav-item {{ meeting_active }}">
            <a class="nav-link" href="{% url 'meeting:index' %}">
              <i class="fa fa-comments-o" aria-hidden="true"></i>
              Meeting
            </a>
          </li>
          {% active_link 'standup' as standup_active %}
          <li class="nav-item {{ standup_active }}">
            <a class="nav-link" href="{% url 'standup:index' %}">
              <i class="fa fa-sun-o" aria-hidden="true"></i>
              Standup
            </a>
          </li>
          {% active_link 'planning' as planning_active %}
          <li class="nav-item dropdown {{ planning_active }}">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Planning
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{% url 'planning:poker' %}">Poker</a>
              <a class="dropdown-item" href="#">Time Allocation(WIP)</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
    <p>
    <div class="container">
      {% block content %}{% endblock %}
    </div>
    {% block extra_js %}
    {% endblock %}
  </body>
</html>
