.members > div {
  display: flex;
}
.member {
  flex-grow: 1;
  align-self: center;
}
.facilitator {
  text-align: center;
}
button:hover {
  cursor: pointer;
}
.candidates {
  margin-top: 10px;
}
.box {
  margin-bottom: 3px;
}
.activeLog {
  margin-top: 20px;
}
.log-body {
  max-height: 250px;
  overflow-y: auto;
  font-size: 10pt;
  border: 1px solid #aab1e0;
  padding: 10px;
  background: #cfd4fd;
  border-radius: 5px;
}
